.vs/VSWorkspaceState.json
.vs/Projet/v17/DocumentLayout.json
.vs/Projet/CopilotIndices/17.12.53.23981/CodeChunks.db
.vs/Projet/CopilotIndices/17.12.53.23981/SemanticSymbols.db
.vs/Projet/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
.vs/Projet/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
.vs/Projet/v17/.wsuo
.vscode/launch.json

Logs/error.txt
Logs/last-order.txt
Logs/error.txt
Logs/last-order.txt
