
.bg-lightblue-fallout {
    background-color: #BDD1E9;
}
.bg-lightblue-fallout-contrast {
    background-color: #a6b9cf;
}
.bg-color-yellow-text{
    background-color: #FCEF6F;
}
::placeholder {
    text-align: center; 
}
.max-width-profil {
    max-width: 600px;
}
.pfp-image {
    max-width: 60%;
    max-height: 60%;
}
.account-display {
    max-width: 295px;
    max-height: fit-content;
    border-radius: 10px;
}
.account-display-modify{
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 5px;
    align-content: center;
}