.cart-button {
    color: black;
    border-color: black;
    text-decoration: none;
}
.item-image {
    height: 300px;
    width: auto;
}
.bg-light-green-fallout {
    background-color: #9BD997;
}
.image-bg{
    background-color: #BDD1E9;
    padding: 3px;
    border-radius: 3%;
}
.item-container {
    width: 70%;
    align-self: center;
    border-radius: 10px;
}
