.cart-button {
    color: black;
    border-color: black;
    text-decoration: none;
}
.item-image {
    height: 100%;
    width: 100%;
}
.item-type-icon {
    right: 3%;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 10%;
    background-color: #FCEF6F;
}
.bg-light-green-fallout {
    background-color: #9BD997;
}
.bg-light-red-fallout {
    background-color: #F9B3B3;
}
.image-bg{
    background-color: #BDD1E9;
    padding: 3px;
    border-radius: 3%;
}
.item-container {
    width: 85%;
    align-self: center;
    border-radius: 10px;
}
.stars {
    position: absolute;
    bottom: 3%;
}
.item-row-container {
    width: 100%;
    align-items: center;
    margin-left: 2px;
}
.sell-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.bg-light-dark-red-fallout {
    background-color: #e79191;
}
.container-comments{
    display: flex;
    margin-left: 8%;
    flex-direction:column ;
    align-items: center;
    padding-top: 4%;
   background-color: #4169E1;
   border-radius: 20px;
    width: 84% ;
    height: 300px;
}
.container-body-comment{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 80% ;
    height:140px ;
    padding: 20px;
    border-radius: 30px;
    background-color: #DCDCDC;
}
.container-icon-comment{
    display: flex;
    flex-direction: row;
    grid-template-rows: auto auto auto;
    gap:30px;
    height: auto;
    width: auto;
    border-radius: 30px;
    padding: 10px;
    background-color: #FCEF6F;
}
textarea{
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 20px;
}
.img-icon{
    height: 45px;
    width: 45px;
    border-radius: 30px;
}