.custom-container .row {
    display: flex;
    flex-direction: column;
    gap: 20px;
  
  }
  .container-info-inventaire{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 40px;
    gap: 20px;
    margin: 10px;

  }
  .custom-container .col {

    background-color: #EEF6FF;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 1px 2px rgba(13, 13, 13, 0.2);

    font-weight: bold ;
  }
  .containe-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;

   
  }
  .containe-info :nth-last-child(-n+3) { /* selection les 3 derniers elements */
    margin-top: 5px;
}

.containe-info i { 
  font-size: 30px; 

}
.main-panier{
  width: 95%;
  height: 400px;
}

.container-empty{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
}
.container-empty p,
.text-decoration{
  font-size: large;
  font-weight: bold;
  color: rgb(90, 78, 27);
}
.container-empty p{
  font-size: x-large;
}

.acceuil{
  text-decoration: underline;
  color: rgb(0, 0, 0);
  font-size: large;
  font-weight: bolder ;

}

.acceuil:hover{
  color: rgb(113, 124, 197);

}


.button-container {
  display: flex;
  justify-content: flex-end;

}
.button{
  background-color: #a5e1a7; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  width: 150px;
  box-shadow: 0 4px 8px rgba(13, 13, 13, 0.2);

}


.user-img{
  text-decoration: none;
  font-weight: bold;
}
.bag{
  width: 32px;
  height: 32px;
}
.img{
  width: 160px;
  height: 150px;
  border-radius: 30px;

}
.sticky {
  position: sticky; /* Fixe l'élément à un endroit spécifique */
  top: 0; /* Place le div en haut de la page */
  right: 0; /* Aligne le div à droite */
  width: auto; /* Ajuste la largeur automatiquement */
  z-index: 1000; /* S'assure que le div soit au-dessus des autres éléments */

}
.stickyBtn {
  position: fixed; /* Fixe l'élément à un endroit spécifique */
  bottom: 15px; 
  right: 100px; 
  z-index: 1000; /* S'assure que le bouton soit au-dessus des autres éléments */

}
.stickyPrice{
  position: fixed; /* Fixe l'élément à un endroit spécifique */
  bottom: 40px; 
  left: 10%; 
  z-index: 1000;
  color:rgb(78, 233, 22)
}

/* Mobiles */
@media (max-width: 768px) {
  .custom-container .row {
      gap: 10px;
  }

  .container-info-inventaire {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin: 10px;
  }

  .containe-info {
      flex-direction: column;
      align-items: center;
      margin-right: 0;
  }

  .containe-info .content{
    margin-top: 10%;
    margin-left: 70%;
  }
  .button-container {
      justify-content: center;
  }

  .button {
      width: 100%;
      padding: 12px;
      font-size: 14px;
  }

  .stickyBtn {
      right: 10px;
      bottom: 10px;
      width: auto;
      padding: 10px 20px;
  }

  .stickyPrice {
      left: 10%;
      bottom: 30px;
  }

  .img {
      width: 120px;
      height: 120px;
  }
}