.text-yellow-fallout {
    color: #fcef6f;
}
.bg-yellow-fallout {
    background-color: #fef8b7;
}
.bg-dark-yellow-fallout {
    background-color: #fcef6f;
}
.bg-blue-fallout {
    background-color: #477bb7;
}
.bg-light-blue-fallout {
    background-color: #bdd1e9;
}
.img-nav {
    width: 150px;
    height: 150px;
}
.header-height {
    height: auto;
}
@media (min-width: 768px) {
    .header-height {
        height: 150px;
    }
}